body {
    font-family: 'Raleway', sans-serif;
    margin-right:0;
    padding-right:0;
}

.firstsentence {
    margin-left:80px;
    text-align:center;
    animation-name:text1;
    animation-duration:2s;
}

button{
    text-align:center;
    margin-left:450px;
    border:none;
}

.button {
    text-align:center;
    animation-name:text2;
    animation-duration:2s;
    border-radius:30px;
    color:white;
    background-color:#ea99e8;
    height:50px;
    width:220px;
    font-size:25px;
}

.button:hover{
    background-color:#0EC4AC
}

.animation_text {
    margin-top:300px;
    position:absolute;
}

.container-fluid{
    padding:0;
}

@-webkit-keyframes text1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes text1 {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes text1 {
	0% {
		opacity: 0;
		-moz-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes text1 {
	0% {
		opacity: 0;
		-o-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes text1 {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.firstsentence {
	-webkit-animation-name: text1;
	-moz-animation-name: text1;
	-o-animation-name: text1;
	animation-name: text1;
}

@-webkit-keyframes text2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes text2 {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes text2 {
	0% {
		opacity: 0;
		-moz-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes text2 {
	0% {
		opacity: 0;
		-o-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes text2 {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.button {
	-webkit-animation-name: text2;
	-moz-animation-name: text2;
	-o-animation-name: text2;
	animation-name: text2;
}
#logo{
  height: 30px;
  width: 30px;
}

.annexeImage {
  display: inline;
  padding: 20px;
}

.actionImage {
  height: 200px;
  width: 200px;
  margin-bottom: 20px;
}
.imgBoutique {
  height: 300px;
  width: 300px;
  padding: 20px;
}

#bg-footer {
  background-color: black;
  
}
